DIV#bottommenu {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px/28px SimSun; COLOR: #505050; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
DIV#bottommenu A:link {
	MARGIN: 0px 5px 0px 2px; FONT: 12px/28px 'SimSun',Arial,Sans-Serif; COLOR: #505050; TEXT-DECORATION: none
}
DIV#bottommenu A:visited {
	MARGIN: 0px 5px 0px 2px; FONT: 12px/28px 'SimSun',Arial,Sans-Serif; COLOR: #505050; TEXT-DECORATION: none
}
DIV#bottommenu A:active {
	MARGIN: 0px 5px 0px 2px; FONT: 12px/28px 'SimSun',Arial,Sans-Serif; COLOR: #505050; TEXT-DECORATION: none
}
DIV#bottommenu A:hover {
	MARGIN: 0px 5px 0px 2px; FONT: 12px/28px 'SimSun',Arial,Sans-Serif; COLOR: #ff6600; TEXT-DECORATION: underline
}
